[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
loguru = "*"
SpeechRecognition = "*"
gTTS = "*"
pydub = "*"
adafruit-circuitpython-dotstar = "*"
adafruit-circuitpython-motor = "*"
adafruit-circuitpython-bmp280 = "*"
pyaudio = "*"
pocketsphinx = "*"
"rpi.gpio" = "*"
adafruit-pca9685 = "*"
pyttsx3 = "*"
pydantic = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
flake8 = "*"
black = "*"
pylint = "*"

[requires]
python_version = "3.7.13"
