[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
loguru = "*"
PyYAML = "*"
SpeechRecognition = "*"
gTTS = "*"
pydub = "*"
adafruit-circuitpython-dotstar = "*"
adafruit-circuitpython-motor = "*"
adafruit-circuitpython-bmp280 = "*"
pyaudio = "*"
pocketsphinx = "*"
"rpi.gpio" = "*"
tensorflow = {file = "https://github.com/bitsy-ai/tensorflow-arm-bin/releases/download/v2.4.0/tensorflow-2.4.0-cp37-none-linux_aarch64.whl"}
pip = "*"
adafruit-pca9685 = "*"
adafruit-circuitpython-servokit = "*"
pyttsx3 = "*"
pydantic = "*"
black = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.7.12"
